<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <title>Web Stock - Sign in</title>
 <link href="https://bootswatch.com/4/cosmo/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="/" class="navbar-brand">Stock</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}" >logout</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    
    <div class="container">

 
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
            <h1 style="padding-top:100px;">Web Stock</h1>
            <p class="lead">WITAMY </p>
          </div>

        </div>
   
    </div>
    
    

</body>
</html>